body {
  font-family: sans-serif;
  background-color: rgb(240, 242, 245);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.container .col:nth-of-type(1) > h1 {
  font-size: 40px;
  color: rgb(31, 31, 255);
  margin: 0%;
}
.container .col:nth-of-type(1) > h2 {
  font-size: 35px;
  margin-top: 5%;
}
.container .col:nth-of-type(1) p {
  color: rgb(133, 133, 133);
  font-size: 18px;
}
.container .col:nth-of-type(1) .profil-container {
  display: flex;
  gap: 20px;
}
.container .col:nth-of-type(1) .img {
  width: 140px;
  height: 150px;
}
.container .col:nth-of-type(1) .text {
  background-color: rgb(240, 242, 245);
  text-align: center;
  padding: 10px;
}
.container .col:nth-of-type(1) .account-1 .text {
  color: rgb(133, 132, 132);
}
.container .col:nth-of-type(1) .account-2 .text {
  color: rgb(25, 25, 243);
}
.container .col:nth-of-type(1) .account-1 .img {
  background-image: url(/images/img.jfif);
  background-size: cover;
}
.container .col:nth-of-type(1) .account-2 .img {
  background-image: url(/images/add-icon.jpg);
  background-size: cover;
}
.container .account-1,
.container .account-2 {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.container .account-1 {
  position: relative;
}
.container .account-1 .icon i,
.container .account-1 .icon img {
  position: absolute;
  cursor: pointer;
}
.container .account-1 .icon img {
  margin-left: 120px;
  border-radius: 40px;
}
.card input {
  display: block;
}
.container .col:nth-of-type(2) {
  margin-top: 70px;
}
.container .col:nth-of-type(2) .card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
}
.container .col:nth-of-type(2) .card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.container .col:nth-of-type(2) .card form {
  padding-top: 10px;
  position: relative;
}
.container .col:nth-of-type(2) .card form input {
  margin: 15px;
  width: 85%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px rgb(161, 161, 161);
}
.card form i {
  position: absolute;
  display: block;
  margin-left: 90%;
  transform: translateY(-40px);
}
.container .col:nth-of-type(2) .card form input:nth-of-type(3) {
  margin-left: 25px;
  background-color: rgb(25, 9, 170);
  color: white;
  border: none;
  border-radius: 10px;
  transition: 1s;
  font-weight: bolder;
}
.container .col:nth-of-type(2) .card form input:nth-of-type(3):hover {
  background-color: rgb(63, 122, 170);
}
.container .card a {
  text-decoration: none;
  color: rgb(43, 43, 252);
  display: block;
  margin-bottom: 40px;
  font-size: 14px;
  transition: 1s;
  font-weight: bold;
}
.container .card a:hover {
  color: rgb(248, 24, 24);
}
.container .card button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(17, 167, 17);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 60%;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 30px;
}
.container .card button:hover {
  background-color: rgb(62, 165, 62);
}
.container .col:nth-of-type(2) > p {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
